@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf"), format('tff');
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf"), format('tff');
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Thin.ttf"), format('tff');
  font-weight: 100;
  font-style: normal
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ThinItalic.ttf"), format('tff');
  font-weight: 100;
  font-style: italic
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf"), format('tff');
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.ttf"), format('tff');
  font-weight: 900;
  font-style: italic
}