
body {
  font-family: 'Lato';
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.container {
  margin: auto;
  max-width: 500px;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.nav-link-item {
  padding: 0 1rem;
}

.nav-link-text {
  color: black;
}
